fastapi
uvicorn[standard]

pandas
pydantic

websocket-client
stomp.py

python-dotenv

langgraph
langgraph-checkpoint-postgres

langchain
langchain-core
langchain-google-genai

psycopg[binary]

langchain-groq